
@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <br />
        <br />
        <div class="col-md-4 wow fadeInDown">
            <div class="clients-comments text-center">
                <img asp- src="Shared/images/portfolio/portfolioPhoto.jpg" class="img-circle" alt="">
                <h3>
                    Employeed at Microgen Financial Systems.
                </h3>
                <h4>
                    <span>- Nikola Bojkovic /</span> Software Developer<br />
                </h4>
            </div>
        </div>
        <div class="col-md-8 wow fadeInDown">
            <p class="lead">
                <center><h2><b>Nikola Bojkovic</b></h2>
                    <h4>  
                    Mlade Bosne 2A, 11000 Belgrade, Serbia
                    </h4>
                    <h4>
                        Email: nikolabojkovic@gmail.com
                    </h4>
                    <h4>
                        Skype: nikola.bojkovic6
                    </h4>
                    <h4>
                        Telephone number: +381 60 34 34 097
                    </h4>
                </center>
            </p>
        </div>
    </div>
<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>My skills</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-th-large"></i>
                        <h2>Microsoft .NET</h2>
                        <h3> Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-list-ul"></i>
                        <h2>JavaScript</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-list"></i>
                        <h2>PHP</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-th"></i>
                        <h2>CSS3</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-gears"></i>
                        <h2>jQuery</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-gears"></i>
                        <h2>Angular 2</h2>
                        <h3>Advanced knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-desktop"></i>
                        <h2>C#</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-database"></i>
                        <h2>Microsoft SQL</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-desktop"></i>
                        <h2>C++</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-github"></i>
                        <h2>Git and SVN</h2>
                        <h3>Professional knowledge</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
        <div class="center wow fadeInDown">
            <h2>Languages</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-check-square-o"></i>
                        <h2>Serbian</h2>
                        <h3>Native or bilingual proficiency</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bar-chart-o"></i>
                        <h2>English</h2>
                        <h3>Professional working proficiency</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.container-->
        </div>
</section>
    <!--/#feature-->
    <div class="container">
        <div class="clients-area wow fadeInDown">
            <h2 class="center">
                My working experience
            </h2>
            <p>
                Two and a half years of working experience as software
                developer. Mostly in financial software solutions
                (entity management, company compliance, time and billing,
                banking, reporting…).
                Introduced to Agile methodologies (including daily stand up meetings) ,
                SCRUM, developing modern modular software architecture. As a C#/C++
                software developer I worked on client-server software solution (C#/C++) and complex
                desktop software solution (C#) directly connected to MSSQL where my responsibilities have been: bug fixing,
                complex problem solving, new feature implementations, working in international team, working to deadlines,
                helping to other coworkers, learning new technologies, debugging and bug reporting, doing code review and
                having good communication with other developers and manages.
            </p>
            <center><h3>At the companies where I used to work my obligations ware</h3></center>
            <ul>
                <li>Maintain and develop existing financial software solution</li>
                <li>learn about new technologies</li>
                <li>education of interns</li>
                <li>Be a team player</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-md-offset-2 col-md-4 wow fadeInDown">
            <div class="clients-comments text-center">
                <img src="Shared/images/portfolio/infoscreen.jpg" class="img-rounded" alt="">
                <h3>
                    Cyprus company that provide software solution for entity managemant and company secretarial
                </h3>
                <h4>
                    <span>- Junior Software Developer /</span> From January 2015 until Semptember 2016
                </h4>
            </div>
        </div>
        <div class="col-md-4 wow fadeInDown">
            <div class="clients-comments text-center">
                <img asp- src="Shared/images/portfolio/microgenFinancial.png" class="img-rounded" alt="">
                <h3>
                    Microgen is a financia company that has a financial sofware which is client app connected directly to the MS SQL Server
                </h3>
                <h4>
                    <span>- Software Developer /</span> From October 2016 - current job
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="clients-area wow fadeInDown">
            <center>
                <h2>
                    Where I see myself in the future
                </h2>
            </center>
            <p class="lead">
                Like everyone I am passionate about something and my passion is programming.
                I have a desire to improve my knolage and became
                something more then just a software developer. In the future I see myself
                like a team lider or maybe later like a
                product manager or product owner. I am always interested
                in new technologies and I never stop learning. <br /> <br /> Thank you for your time.
            </p>
        </div>
        <div class="clients-area wow fadeInDown">
            <center>
                <h2>
                    Motivation and ambitions
                </h2>
            </center>
            <p class="lead">
                <ul>
                    <li style="padding-bottom: 10px;">I am 24 years old. I am able to perform well in high-pressure environments as I am very competitive with a strong motivation to succeed. An example of this is the way I was able to balance work and study with my sporting interests while at university. Training several times a week while also meeting all assignments deadlines required motivation, prioritization and organizational skills.</li> 
                    <li>Additionally, I used to have a part time job alongside my studies, or in the summer holidays. This demonstrates personal motivation to continually develop myself and my skills.</li>
                </ul>
            </p>
        </div>
    </div>

